In [5]:
#name 변수에 '홍길동'을 대입하고 age 변수에 18을 대입한 후 출력하는 프로그램.

name = "홍길동"
age = 18
print(name, age)

홍길동 18

In [8]:
c = 9
b = c
a = b
print(a, b, c)

9 9 9

In [21]:
b += 10
print(b)

29

In [37]:
a = 7
b = 11
c = a
a = b
b = c
print(a,b)

11 7

NoneType

In [35]:
# 3의 배수 중 처음 네 개를 구하는 프로그램

# multiple_of_3 변수를 0으로 초기화합니다. 이 변수는 3의 배수를 저장할 것입니다.
multiple_of_3 = 0
# count 변수를 0으로 초기화합니다. 이 변수는 찾은 3의 배수의 개수를 셀 것입니다.
count = 0

# count가 4보다 작은 동안 (즉, 3의 배수 네 개를 찾을 때까지) 반복합니다.
while count < 5:
  # multiple_of_3에 3을 더합니다. 이렇게 하면 다음 3의 배수를 얻게 됩니다.
  multiple_of_3 += 3
  # 현재 찾은 3의 배수를 출력합니다.
  print(multiple_of_3)
  # count를 1 증가시킵니다. 다음 반복에서는 다른 3의 배수를 찾을 것입니다.
  count += 1

3
6
9
12
15

In [41]:
a = 20
b = 0o34
c = 0xA1
d = 0b1110

print (a, b, c, d)

20 28 161 14

In [46]:
a, b = 3.14, 1.23e5
print(a, b)

3.14 123000.0

In [48]:
a = 10>20

In [57]:
a = 'Python'
b = 'hi'

print(b + a)

hiPython

In [59]:
name = input('이름: ')
age = input('나이: ')
print(name, age)

이름: 김동하
나이: 22
김동하 22

In [71]:
a = int(input('첫 번째 숫자: '))
b = int(input('두 번째 숫자: '))

print(a-b)

첫 번째 숫자: 9
두 번째 숫자: 2
7

In [77]:
c = 12

print(a)
print(b,end='')
print(c)

9
212

In [81]:
minutes = float(input("분 단위 시간을 입력하세요: "))

seconds = minutes * 60

print(f"{minutes}분은 {seconds}초입니다.")

분 단위 시간을 입력하세요: 56
56.0분은 3360.0초입니다.

In [85]:
a = int(input('첫 번째 숫자: '))
b = int(input('두 번째 숫자: '))
c = int(input('세 번째 숫자: '))
d = a+b+c
print(f"세 수의 평균은{d/3}입니다")

첫 번째 숫자: 90
두 번째 숫자: 80
세 번째 숫자: 70
세 수의 평균은80.0입니다

In [87]:
r = float(input('원의 반지름: '))
S = r*r*3.14

print(f"입력한 반지름은 {r} 이고 해당 원의 넓이는 {S}입니다")

원의 반지름: 4.5
입력한 반지름은 4.5 이고 해당 원의 넓이는 63.585입니다